html {
    box-sizing: border-box;
    background-color: #eee9de;
    font-family: Lato, sans-serif;
    line-height: 1.5;
    color: #333;
}

img {
  display: block;
  width: 50%;
}

h1 {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  font-size: 1.5em;
}

.btn {
  display: inline-block;
  padding: .4em .75em .5em;
  background-color: #eee9de;
  border-radius: 8px;
  border: 3px solid #666;
  color: #333;
  text-decoration: none;
}

.btn:hover {
  background-color: #666;
  color: #fff;
}
